# SpaceX Falcon 9 First Stage Landing Prediction

## Lab 2: EDA & SQL

### Objective
* Understand the Spacex DataSet
* Load the dataset into the corresponding table in a duck DB
* Execute SQL queries to answer assignment questions

In [1]:
import pandas as pd
import numpy as np
import duckdb

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [3]:
df["Landing_Outcome"].value_counts()

Landing_Outcome
Success                   38
No attempt                21
Success (drone ship)      14
Success (ground pad)       9
Controlled (ocean)         5
Failure (drone ship)       5
Failure                    3
Failure (parachute)        2
Uncontrolled (ocean)       2
Precluded (drone ship)     1
No attempt                 1
Name: count, dtype: int64

In [4]:
duckdb.sql("""
           SELECT *
           FROM df
""")

┌────────────┬────────────┬─────────────────┬───┬──────────────────────┬─────────────────┬──────────────────────┐
│    Date    │ Time (UTC) │ Booster_Version │ … │       Customer       │ Mission_Outcome │   Landing_Outcome    │
│  varchar   │  varchar   │     varchar     │   │       varchar        │     varchar     │       varchar        │
├────────────┼────────────┼─────────────────┼───┼──────────────────────┼─────────────────┼──────────────────────┤
│ 2010-06-04 │ 18:45:00   │ F9 v1.0  B0003  │ … │ SpaceX               │ Success         │ Failure (parachute)  │
│ 2010-12-08 │ 15:43:00   │ F9 v1.0  B0004  │ … │ NASA (COTS) NRO      │ Success         │ Failure (parachute)  │
│ 2012-05-22 │ 7:44:00    │ F9 v1.0  B0005  │ … │ NASA (COTS)          │ Success         │ No attempt           │
│ 2012-10-08 │ 0:35:00    │ F9 v1.0  B0006  │ … │ NASA (CRS)           │ Success         │ No attempt           │
│ 2013-03-01 │ 15:10:00   │ F9 v1.0  B0007  │ … │ NASA (CRS)           │ Success         │ No attempt           │
│ 2013-09-29 │ 16:00:00   │ F9 v1.1  B1003  │ … │ MDA                  │ Success         │ Uncontrolled (ocean) │
│ 2013-12-03 │ 22:41:00   │ F9 v1.1         │ … │ SES                  │ Success         │ No attempt           │
│ 2014-01-06 │ 22:06:00   │ F9 v1.1         │ … │ Thaicom              │ Success         │ No attempt           │
│ 2014-04-18 │ 19:25:00   │ F9 v1.1         │ … │ NASA (CRS)           │ Success         │ Controlled (ocean)   │
│ 2014-07-14 │ 15:15:00   │ F9 v1.1         │ … │ Orbcomm              │ Success         │ Controlled (ocean)   │
│     ·      │    ·       │    ·            │ · │    ·                 │    ·            │    ·                 │
│     ·      │    ·       │    ·            │ · │    ·                 │    ·            │    ·                 │
│     ·      │    ·       │    ·            │ · │    ·                 │    ·            │    ·                 │
│ 2020-08-30 │ 23:18:00   │ F9 B5 B1059.4   │ … │ CONAE, PlanetIQ, S…  │ Success         │ Success              │
│ 2020-09-03 │ 12:46:14   │ F9 B5 B1060.2   │ … │ SpaceX               │ Success         │ Success              │
│ 2020-10-06 │ 11:29:34   │ F9 B5 B1058.3   │ … │ SpaceX               │ Success         │ Success              │
│ 2020-10-18 │ 12:25:57   │ F9 B5 B1051.6   │ … │ SpaceX               │ Success         │ Success              │
│ 2020-10-24 │ 15:31:34   │ F9 B5 B1060.3   │ … │ SpaceX               │ Success         │ Success              │
│ 2020-11-05 │ 23:24:23   │ F9 B5B1062.1    │ … │ USSF                 │ Success         │ Success              │
│ 2020-11-16 │ 0:27:00    │ F9 B5B1061.1    │ … │ NASA (CCP)           │ Success         │ Success              │
│ 2020-11-21 │ 17:17:08   │ F9 B5B1063.1    │ … │ NASA / NOAA / ESA …  │ Success         │ Success              │
│ 2020-11-25 │ 2:13:00    │ F9 B5 B1049.7   │ … │ SpaceX               │ Success         │ Success              │
│ 2020-12-06 │ 16:17:08   │ F9 B5 B1058.4   │ … │ NASA (CRS)           │ Success         │ Success              │
├────────────┴────────────┴─────────────────┴───┴──────────────────────┴─────────────────┴──────────────────────┤
│ 101 rows (20 shown)                                                                      10 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
df.columns.to_list()

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing_Outcome']

#### Task 1:
Display the names of the unique launch sites in the space mission

In [6]:
duckdb.sql("""
           SELECT DISTINCT Launch_Site
           FROM df
""")

┌──────────────┐
│ Launch_Site  │
│   varchar    │
├──────────────┤
│ VAFB SLC-4E  │
│ KSC LC-39A   │
│ CCAFS LC-40  │
│ CCAFS SLC-40 │
└──────────────┘

#### Task 2
Display 5 records where launch sites begin with the string "CCA"

In [7]:
duckdb.sql("""
           SELECT *
           FROM df
           WHERE Launch_Site LIKE 'CCA%'
           LIMIT 5
""")

┌────────────┬────────────┬─────────────────┬───┬─────────────────┬─────────────────┬─────────────────────┐
│    Date    │ Time (UTC) │ Booster_Version │ … │    Customer     │ Mission_Outcome │   Landing_Outcome   │
│  varchar   │  varchar   │     varchar     │   │     varchar     │     varchar     │       varchar       │
├────────────┼────────────┼─────────────────┼───┼─────────────────┼─────────────────┼─────────────────────┤
│ 2010-06-04 │ 18:45:00   │ F9 v1.0  B0003  │ … │ SpaceX          │ Success         │ Failure (parachute) │
│ 2010-12-08 │ 15:43:00   │ F9 v1.0  B0004  │ … │ NASA (COTS) NRO │ Success         │ Failure (parachute) │
│ 2012-05-22 │ 7:44:00    │ F9 v1.0  B0005  │ … │ NASA (COTS)     │ Success         │ No attempt          │
│ 2012-10-08 │ 0:35:00    │ F9 v1.0  B0006  │ … │ NASA (CRS)      │ Success         │ No attempt          │
│ 2013-03-01 │ 15:10:00   │ F9 v1.0  B0007  │ … │ NASA (CRS)      │ Success         │ No attempt          │
├────────────┴────────────┴─────────────────┴───┴─────────────────┴─────────────────┴─────────────────────┤
│ 5 rows                                                                             10 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

#### Task 3
Diplay the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
duckdb.sql("""
           SELECT SUM(PAYLOAD_MASS__KG_) AS Total
           FROM df
           WHERE Customer='NASA (CRS)'
""")

┌────────┐
│ Total  │
│ int128 │
├────────┤
│  45596 │
└────────┘

In [9]:
duckdb.sql("""
           SELECT SUM(PAYLOAD_MASS__KG_) AS Total
           FROM df
           WHERE Customer LIKE 'NASA%'
""")

┌────────┐
│ Total  │
│ int128 │
├────────┤
│  99980 │
└────────┘

#### Task 4
Display average payload mass carried by booster version F9 v1.1

In [10]:
duckdb.sql("""
           SELECT AVG(PAYLOAD_MASS__KG_) AS Average
           FROM df
           WHERE Booster_Version LIKE 'F9 v1.1%'
""")

┌────────────────────┐
│      Average       │
│       double       │
├────────────────────┤
│ 2534.6666666666665 │
└────────────────────┘

#### Task 5
List the date when the first succesful landing outcome in ground pad was achieved

In [11]:
duckdb.sql("""
           SELECT MIN(Date)
           FROM df
           WHERE "Landing_Outcome" = 'Success (ground pad)'
""")

┌────────────┐
│ min(Date)  │
│  varchar   │
├────────────┤
│ 2015-12-22 │
└────────────┘

#### Task 6
List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
duckdb.sql("""
           SELECT Booster_Version
           FROM df
           WHERE Landing_Outcome = 'Success (drone ship)'
           AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;
""")

┌─────────────────┐
│ Booster_Version │
│     varchar     │
├─────────────────┤
│ F9 FT B1022     │
│ F9 FT B1026     │
│ F9 FT  B1021.2  │
│ F9 FT  B1031.2  │
└─────────────────┘

#### Task 7
List the total number of successful and failure mission outcomes

In [13]:
duckdb.sql("SELECT DISTINCT(Mission_Outcome) FROM df")

┌──────────────────────────────────┐
│         Mission_Outcome          │
│             varchar              │
├──────────────────────────────────┤
│ Failure (in flight)              │
│ Success                          │
│ Success                          │
│ Success (payload status unclear) │
└──────────────────────────────────┘

In [14]:
duckdb.sql("""
           SELECT COUNT(*)
           FROM df
           WHERE Mission_Outcome LIKE 'Success%'
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          100 │
└──────────────┘

In [15]:
duckdb.sql("""
           SELECT COUNT(*)
           FROM df
           WHERE Mission_Outcome LIKE 'Failure%'
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            1 │
└──────────────┘

#### TASK 8
List the names of the booster versions which have carried the maximum payload mass. Use a subquery

In [16]:
duckdb.sql("""
           SELECT Booster_Version
           FROM df
           WHERE PAYLOAD_MASS__KG_ = 
                (SELECT MAX(PAYLOAD_MASS__KG_) FROM df)
""")

┌─────────────────┐
│ Booster_Version │
│     varchar     │
├─────────────────┤
│ F9 B5 B1048.4   │
│ F9 B5 B1049.4   │
│ F9 B5 B1051.3   │
│ F9 B5 B1056.4   │
│ F9 B5 B1048.5   │
│ F9 B5 B1051.4   │
│ F9 B5 B1049.5   │
│ F9 B5 B1060.2   │
│ F9 B5 B1058.3   │
│ F9 B5 B1051.6   │
│ F9 B5 B1060.3   │
│ F9 B5 B1049.7   │
├─────────────────┤
│     12 rows     │
└─────────────────┘

#### TASK 9
List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [17]:
duckdb.sql("""
           SELECT SUBSTR(Date,4,2) AS Month, Booster_Version, Launch_Site
           FROM df
           WHERE SUBSTR(Date,7,4) = '2015' AND "Landing_Outcome" = 'Failure (drone ship)'
""")

┌─────────┬─────────────────┬─────────────┐
│  Month  │ Booster_Version │ Launch_Site │
│ varchar │     varchar     │   varchar   │
├─────────┴─────────────────┴─────────────┤
│                 0 rows                  │
└─────────────────────────────────────────┘

#### TASK 10
Rank the count of successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [18]:
duckdb.sql("""
           SELECT Landing_Outcome, COUNT(Landing_Outcome) AS Landings
           FROM df
           WHERE Date BETWEEN '04-06-2010' AND '20-03-2017'
           GROUP BY Landing_Outcome
           ORDER BY landings DESC
""")

┌─────────────────┬──────────┐
│ Landing_Outcome │ Landings │
│     varchar     │  int64   │
├─────────────────┴──────────┤
│           0 rows           │
└────────────────────────────┘